// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.icon
    font-family 'Material Icons', serif
    font-style normal
    display inline-block
    vertical-align middle
    line-height 1
    text-transform none
    letter-spacing normal
    word-wrap normal
    white-space nowrap
    direction ltr
    -webkit-font-smoothing antialiased
    text-rendering optimizeLegibility
    -moz-osx-font-smoothing grayscale
    font-feature-settings 'liga'

:root
    --main-color #93ff96
    --text-color #777
    --text-color-light #ccc
    --border-color #dbdbdb
    --bg-color #f9f9f9
    --match-color #86e7b8
*
    box-sizing border-box

.row
    margin 0
    padding 0
    display flex
    flex-direction row
    flex-wrap wrap
    width 100%

.row-middle
    align-items center

.col
    flex-grow 1
    flex-basis 0
    max-width 100%

.col-start
    justify-content flex-start
    text-align left

.col-center
    justify-content center
    text-align center

.col-end
    justify-content flex-end
    text-align right

.calendar
    display block
    position relative
    width 100%
    background var(--neutral-color)
    border 1px solid var(--border-color)
    .header
        text-transform uppercase
        font-weight 700
        font-size 115%
        padding 1.5em 0
        color #fff
        background var(--primary-dark-color)
        .icon
            cursor pointer
            transition .15s ease-out
            &:hover
                transform scale(1.75)
                transition .25s ease-out
                color var(--main-color)
            &:first-of-type
                margin-left 1em
            &:last-of-type
                margin-right 1em
    .days
        text-transform uppercase
        font-weight 400
        background var(--primary-color)
        color #fff
        font-size 70%
        padding .75em 0
    .body
        .cell
            position relative
            height 6em
            background var(--primary-light-color)
            overflow hidden
            transition 0.25s ease-out
            border 0.25px solid #ccc
            cursor pointer
            &:last-child
                border-right none
            .number-cell
                position absolute
                font-size 82.5%
                line-height 1
                top .75em
                right .75em
                font-weight 700
            .bg
                font-weight 700
                line-height 1
                opacity 0
                font-size 8em
                position absolute
                top -.2em
                right -.05em
                transition .25s ease-out
                letter-spacing -.07em
            .matches
                .match
                    margin-top 2px
                    font-size 0.80em
                    width: 85%
                    background-color var(--secondary-color)
                    padding-left: 10px
                    border-radius: 14px
                    text-overflow: ellipsis
                    white-space: nowrap
                    overflow: hidden
                    cursor pointer
        .selected
            border-left 10px solid transparent
            border-image linear-gradient(45deg, var(--secondary-light-color) 0%, var(--secondary-color) 40%)
            border-image-slice 1
        .row
            &:last-child
                border-bottom none
        .disabled
            color var(--text-color-light)
            pointer-events none
        .col
            flex-grow 0
            flex-basis calc(100%/7)
            width calc(100%/7)

.calendar .body .cell:hover .bg, .calendar .body .selected .bg
    opacity 0.05
    transition .5s ease-in