html, body 
    height: 100vh
    background-color: #dcedd4

.side-button 
    z-index 2
    position: absolute
    right: 0
    top: calc(100vh / 2)

    text-orientation: mixed
    writing-mode: vertical-rl

.side-button button 
    height: 5em

.modal
    .is-inactive
        -webkit-transition: all .5s ease-in-out
        -moz-transition: all .5s ease-in-out
        -o-transition: all .5s ease-in-out
        transition: all .5s ease-in-out
    .is-active
        -webkit-transition: all .5s ease-in-out
        -moz-transition: all .5s ease-in-out
        -o-transition: all .5s ease-in-out
        transition: all .5s ease-in-out