// Reference: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=66BB6A&secondary.color=4FC3F7&primary.text.color=000000&secondary.text.color=000000

:root 
    --primary-color #64ba69
    --primary-light-color #96ed98
    --primary-dark-color #31893d

    --secondary-color #4fc2f7
    --secondary-light-color #8bf5ff
    --secondary-dark-color #0092c4

html, body
    min-height 100vh
    background url('/static/cancha-fondo.jpg')
    background-repeat no-repeat
    background-size cover
    font-family 'IBM Plex Sans', sans-serif

.navbar
    background-color #64ba69
#navbarMenu
    background-color #96ed98

.side-button 
    z-index 2
    position: absolute
    right: 0
    top: calc(100vh / 2)

    text-orientation: mixed
    writing-mode: vertical-rl

.side-button button 
    height: 5em

#terms-and-conditions
    p
        margin-bottom 10px

.button.is-primary
    color black
    background-color var(--secondary-color)
    &:hover
        color black
        background-color var(--secondary-light-color)
    &:disabled
        color black
        background-color var(--secondary-dark-color)
    &:focus
        color black
    &:active
        outline none

.modal
    .is-inactive
        -webkit-transition: all .5s ease-in-out
        -moz-transition: all .5s ease-in-out
        -o-transition: all .5s ease-in-out
        transition: all .5s ease-in-out
    .is-active
        -webkit-transition: all .5s ease-in-out
        -moz-transition: all .5s ease-in-out
        -o-transition: all .5s ease-in-out
        transition: all .5s ease-in-out

.confirmation
    display grid
    justify-content: end

.table
    min-width 100%
    thead
        // background var(--primary-dark-color)
        background hsl(130, 5% 44%)
        tr
            th
                color #fff
    tbody
        background var(--primary-light-color)
        tr
            
            td
                border none
                white-space nowrap
                overflow hidden
                text-overflow ellipsis

.pagination-bottom
    .columns
        display flex
        .column:nth-child(1)
            text-align right
        .column:nth-child(2)
            text-align center
        .column:nth-child(3)
            text-align left